@font-face {
    font-family: 'Segoe UI';
    font-weight: 300;
    src: local('Segoe UI Semilight');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 400;
    src: local('Segoe UI');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    src: local('Segoe UI Semibold');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 700;
    src: local('Segoe UI Bold');
}

body {
    font-family: 'Segoe UI', 'Helvetica', 'Arial', 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin: 0;
}
